.info {
  width: 100%;
}

.info > * {
  width: 50%;
  padding: 0.5rem 0;
  margin: 5px auto 0 auto;
  font-size: 1.5rem;
  background-color: var(--teal);
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
};
