.region {
  stroke: #000;
  stroke-width: 0.26px;
}

.region--initial {
  fill: var(--gray);
}

.region--on-first {
  fill: var(--green);
}

.region--on-second {
  fill: var(--yellow);
}

.region--on-third {
  fill: var(--orange);
}

.region--failed {
  fill: var(--crimson);
}

.region--unguessed {
  fill: var(--red);
}
