.region {
  stroke: #000;
  stroke-width: 0.26px;
}

.region--initial {
  fill: var(--gray);
  cursor: pointer;
}

.region--initial:hover {
  opacity: 0.8;
}

.region--initial:active {
  opacity: 0.4;
}

.region--on-first {
  fill: var(--green);
}

.region--on-second {
  fill: var(--yellow);
}

.region--on-third {
  fill: var(--orange);
}

.region--failed {
  fill: var(--crimson);
  cursor: pointer;
}

.region--unguessed {
  fill: var(--red);
}
