.game-rules__title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.game-rules__text {
  font-size: 22px;
}

.game-rules__text:not(:last-child) {
  margin-bottom: 15px;
}

.game-rules__text--green {
  color: var(--green);
}

.game-rules__text--yellow {
  color: var(--yellow);
}

.game-rules__text--orange {
  color: var(--orange);
}

.game-rules__text--crimson {
  color: var(--crimson);
}

.game-rules__text--red {
  color: var(--red);
}
