html {
  height: 100%;
  --gray: #959595;
  --green:#00b358;
  --yellow: #ffff73;
  --orange: #ff9200;
  --crimson: #dc143c;
  --red: #f60018;
  --light-blue: #2a7eb4;
  --teal: #008080;
}

body {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
